.navigation {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  width: 45%;
  font-size: 14px;
  margin-left: 50%;
}
/*@mobile: ~"(max-width: 500px)";*/
* {
  box-sizing: border-box;
}
.container {
  /*background-color: rgba(0, 0, 255, 0.3);*/
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*width: 1000px;*/
  display: flex;
  flex-direction: row;
}
h1 {
  font-family: "Fredoka One";
  letter-spacing: 1px;
}
.container-home {
  padding-bottom: 5px;
}
.container-home img {
  width: 100vw;
  height: 200px;
  padding: 10px;
  align-content: center;
}
.content-container {
  width: 40%;
}
/*.top-content {
}
*/
.button {
  display: block;
  background-color: navy;
  cursor: pointer;
  width: 100px;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.button:hover {
  color: green;
}
.company-info {
  margin-bottom: 5%;
}
.contact-info {
  margin-bottom: 8%;
  font-family: sans-serif;
}
footer {
  font-family: cursive;
  text-align: center;
}
