* {
  box-sizing: border-box;
}

.container {
  /*background-color: rgba(0, 0, 255, 0.3);*/
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*width: 1000px;*/
  display: flex;
  flex-direction: row;
  @media @mobile {
    flex-direction: column;
    align-items: center;
  }
}

h1 {
  font-family: "Fredoka One";
  letter-spacing: 1px;
}

.container-home {
  padding-bottom: 5px;
}

.container-two {
  background-color: rgb(255, 127, 80, 0.5);
}

.container-home img {
  width: 98.5vw;
  height: 200px;

  margin-right: 5%;
  @media @mobile {
    flex-direction: column;
    align-items: center;
    width: 97vw;
    margin-right: 6%;
  }
}

hr {
  border: 1px solid black;
}
.content-container {
  width: 40%;
}

.top-content {
  width: 100vw;
}
.company-info {
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*.top-content {
}
*/
.button {
  align-items: center;
  .custom-btn-one(@btn-color:navy, @font-color:white);
  text-align: center;
  display: flex;
  justify-content: center;
  &:hover {
    color: green;
  }
}
.contact-info {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: sans-serif;
}

/* About page code below */

/*
html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 800px;
  height: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
*/
.profile-info {
  width: 1000px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box {
  width: 150px;
  height: 150px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  .box-margin();
}

.box2 {
  background: @red-box;
}

.box3 {
  background: @black-box;
}

.box4 {
  background: @orange-box;
}

.box5 {
  background: @purple-box;
}

.box6 {
  background: @green-box;
}

footer {
  font-family: cursive;
  flex-wrap: wrap;
  display: flex;
  align-content: flex-end;
}
