.navigation {
  .nav-margin-vert();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  width: 45%;
  font-size: 14px;

  .nav-margin-horiz();
  @media @mobile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}
